# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#VS Stuff
**/*.vcxproj.user
**/*.suo
**/*.sdf
**/*.opensdf
**/Debug/*
*.sdf
*.opensdf
*.suo

#CMake Stuff
**/build/*
**/CMakeLists.txt.user
